@import url("https://fonts.googleapis.com/css2?family=Gilroy-Bold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Regular:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Medium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-SemiBoldItalic:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-SemiBold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilroy-Light:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-gilroy-medium: Gilroy-Medium;
  --font-gilroy-bold: Gilroy-Bold;
  --font-gilroy-regular: Gilroy-Regular;
  --font-gilroy-light: Gilroy-Light;
  --font-gilroy-semibold: Gilroy-SemiBold;
  --font-poppins: Poppins;
  --font-gilroy-semibolditalic: Gilroy-SemiBoldItalic;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --text-color-400: #808080;
  --color-gray-100: #1f1f1f;
  --color-gray-200: rgba(31, 31, 31, 0.12);
  --color-gray-300: rgba(31, 31, 31, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.35);
  --color-gray-500: rgba(31, 31, 31, 0.3);
  --color-orange: #ff9e2c;
  --color-black: #000;
  --color-sandybrown: #ffb660;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}
